{% extends 'base.html' %}

{%block export%}
{%endblock%}

{% block content %}
  <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color: #f24d18;">Edit Sheet</h4>
<form class="form-inline my-2 my-lg-0" id="search_batch_form">
                  <div class="input-group mb-3">
        <span class="input-group-text" style="background:#f24d18;color:white">Ticket</span>
        <input class="form-control " type="number" placeholder="Ticket Number" aria-label="Search" name="search" value="{{search}}">
        <span class="input-group-text " style="background:#f24d18;color:white">Batch</span>
        <input class="form-control " type="number" placeholder="Batch Number" aria-label="Search2" name="batch_search" value="{{batch_search}}">
         <button class="btn btn-outline-secondary" name = 'search_btn' type="submit">
         <i class="    mdi mdi-magnify btn-icon-append"></i>
         Search
         </button>
                  </div>
    </form>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Ticket Number</th>
        <th>Batch Number</th>
        <th>Majento Name</th>
        <th>Majento Date</th>
        <th>Uploader Name</th>
        <th>Uploader Date</th>
    </tr>
    </thead>
    <tbody>
    {% for sheet in sheets%}
    <tr>
        <td><a href="{% url 'edit_sheet' sheet.pk%}">{{ forloop.counter}}</a></td>
        <td>{{sheet.ticketname}}
<!--        <small class="text-muted d-block">{{board.description}}</small>-->
        </td>
        <td>{{sheet.batchNumber}}</td>
        <td>{{sheet.Majentoid.username}}</td>
        <td>{{sheet.MajentoDate.date}}</td>
        <td>{{sheet.Uploaderid.username}}</td>
        <td>{{sheet.UploadedDate.date}}</td>
    </tr>
    {%endfor%}

    </tbody>
</table>
</div>
              </div>
            </div>

{% endblock %}