{% extends 'base.html' %}
 {%block export%}

                  <button class="btn   btn-icon-text" name = 'export_btn' style="background:#f24d18;color:white" type="submit" form="search_batch_form">
                      Export
                  <i class="mdi mdi-printer btn-icon-append"></i>
                  </button>
                            {%endblock%}

{% block content %}
{% if messages %}
<div class="alert alert-danger" id="dialog" title="Error in Sheet" >
{% for message in messages %}

  <p class="text-danger">{{message}}</p>

{% endfor %}
</div>

{% endif %}


    <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color: #f24d18;">Search Ticket & Batch</h4>

    <form class="form-inline my-2 my-lg-0" id="search_batch_form">
                  <div class="input-group mb-3">
        <span class="input-group-text" style="background:#f24d18;color:white">Ticket</span>
        <input class="form-control " type="number" placeholder="Ticket Number" aria-label="Search" name="search" value="{{search}}">
        <span class="input-group-text " style="background:#f24d18;color:white">Batch</span>
        <input class="form-control " type="number" placeholder="Batch Number" aria-label="Search2" name="batch_search" value="{{batch_search}}">
         <button class="btn btn-outline-secondary" name = 'search_btn' type="submit">
         <i class="    mdi mdi-magnify btn-icon-append"></i>
         Search
         </button>
    </div>

<!--    <button class="btn btn-outline-success my-2 my-sm-0" name = 'export_btn' type="submit">Export</button>-->


    </form>
  <div class="table-responsive">
{%if articles%}
  <table class="table table-striped ">
<!--  <thead>-->
<!--    <tr>-->
<!--      <th scope="col">Key</th>-->
<!--      <th scope="col">Value</th>-->
<!--      </tr>-->
<!--  </thead>-->
      <tbody>
{% for article,y in articles.items %}
    <tr>
      <td>{{article}}</td>
      <td>{{y}}</td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endif %}
               </div>
              </div>
            </div>
 </div>
{% endblock %}



<!--                <p class="card-description">-->
                  <!-- Add class <code>.table-striped</code> -->
                  <!-- <input type="search" /> -->

                    <input type="search" class = 'form-control' placeholder="Search" aria-label="Search" name="search" value="{{search}}" >
                    <div class="input-group-append">
                      <button  name = 'search_btn' type="submit">Search</button>
                    </div>


<!--                </p>-->








