{% extends 'base.html' %}

{%block export%}


<button class="btn btn-icon-text" name = 'export_btn' style="background:#f24d18;color:white" type="submit" form="search_sku_form">
                      Export <i class="mdi mdi-printer btn-icon-append"></i></button>
{%endblock%}

{% block content %}
{% if messages %}
<div class="alert alert-danger" id="dialog" title="Error in Sheet" >
{% for message in messages %}

  <p class="text-danger">{{message}}</p>

{% endfor %}
</div>

{% endif %}

   <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title" style="color: #f24d18;">Search by SKU</h4>
<!--                <p class="card-description">-->
                  <!-- Add class <code>.table-striped</code> -->
                  <!-- <input type="search" /> -->
                      <form class="form-inline my-2 my-lg-0" id="search_sku_form">

                  <div class="input-group mb-3">
                   <span class="input-group-text" style="background:#f24d18;color:white">SKU</span>
                    <input type="search" class = 'form-control' placeholder="Search" aria-label="Search" name="search" value="{{search}}" >
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" name = 'search_btn' type="submit">Search</button>
                    </div>

                  </div>
                           </form>
                <div class="table-responsive">

{%if articles%}
  <table class="table table-striped ">
      <tbody>
{% for article,y in articles.items %}
    <tr>
      <th>{{article}}</th>
      <td>{{y}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
                </div>
              </div>
            </div>
 </div>

{% endblock %}